[submodule "libs/cryptopp-cmake"]
	path = libs/cryptopp-cmake
	url = https://github.com/abdes/cryptopp-cmake
[submodule "libs/curl"]
	path = libs/curl
	url = https://github.com/curl/curl
[submodule "libs/rapidjson"]
	path = libs/rapidjson
	url = https://github.com/tencent/rapidjson
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw
